
body{
    background-color:rgb(255,165,0,0.05);
}
.header{
    background-color:rgb(255,165,0,0.35)   
}
h1{
    font-family:Arial;
    font-size: 16pt;
}
h2{
    font-family:sans-serif;
    font-style:italic;
    color:rgb(109, 158, 190);
    font-size:18pt;
}
.special{
    font-style: italic;
    color:rgb(102, 136, 158);
}
p{
    font-family:sans-serif;
}
.special2{
    font-weight:bold;
    color:rgb(89, 121, 141);
}
ul{
    list-style-type:none;
}
li{
    font-family:sans-serif;
}
